  <!-- Navigation Bar -->
  <header>
    <nav>
      <img src="/static/images/logo-clear.png" alt="Logo" class="logo">
      <div class="mobile-nav">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About Me</a></li>
        <li><a href="{{ url_for('resume') }}">Resume</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
      </ul>
    </nav>
  </header>
  <div class="shareit">
    <a class="linkedin" href="https://www.linkedin.com/in/alex-trokel/" target="blank" title="linkedin"><i
        class="fa fa-linkedin"></i></a>

    <a class="github" href="https://github.com/a-trokie" target="blank" title="github"><i class="fa fa-github"></i></a>
  </div>
  <!-- End of Navigation Bar -->